# Byte-compiled and cached Python files
*.py[cod]
__pycache__/
*.pyo

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Logs and debugging
logs/
*.log
*.out
*.err

# IDE/editor settings
.vscode/

# Python-specific packaging
*.egg-info/
.eggs/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/